<div class="row mt-4 mb-5 px-4 pl-2">
    <div class="col">
        <div>
            <span>Total Coleccion</span>
            <ngb-progressbar [value]="20" type="danger"></ngb-progressbar>
        </div>
        <div>
            <span>Titulares</span>
            <ngb-progressbar [value]="75" type="danger"></ngb-progressbar>
        </div>
        <div>
            <span>Suplentes</span>
            <ngb-progressbar [value]="25" type="secondary"></ngb-progressbar>
        </div>
        <div>
            <span>Edicion Limitada</span>
            <ngb-progressbar [value]="5" type="dark"></ngb-progressbar>
        </div>
        
      
<!--         
        <ngb-progressbar class="mb-3" [value]="50"></ngb-progressbar>
        <ngb-progressbar class="mb-3" [value]="75"></ngb-progressbar> -->
    </div>
</div>