<style>
  .material-symbols-outlined {
    font-variation-settings:
      'FILL'0,
      'wght'400,
      'GRAD'0,
      'opsz'48
  }

</style>

<div class="camiseta-card d-flex justify-content-between align-items-center bg-ligth mb-3">
  <div class="card-info d-flex align-items-center justify-content-center">
    <div class="img">
      <img src="{{camiseta.fotoUrl}}" style="max-width: 60px;">
    </div>
    <div class="descripcion d-flex flex-column" style="margin-left: 10px;">
      <h5 class="m-0">{{tipoString}}</h5>
      
      <span *ngIf="camiseta.laTengo" style="font-size: 11px;">{{camiseta.descripcion}} - ${{camiseta.precio}}</span>
      <span *ngIf="!camiseta.laTengo" style="font-size: 11px;">{{camiseta.descripcion}} - <p class="detail-title text-muted" (click)="openLinksList(camiseta)">Ver links</p></span>

      
    </div>
  </div>

  <div class="check">
    <button type="button" class="btn btn-outline-success" (click)="openDialog(camiseta)"
      *ngIf="!camiseta.laTengo">+</button>
    <button type="button" class="btn btn-success " (click)="openDialog(camiseta)" *ngIf="camiseta.laTengo"><img src="../../../../assets/imgs/done.svg" style="width: 20px; color: white;"></button>
  </div>
</div>
