
<div class="row">
    <div class="col" style="margin-bottom: 5vh;">
        <div class="accordion"  *ngFor="let temporada of camisetas; let i = index" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordion-body-' + i" aria-expanded="false" aria-controls="collapseOne">
                  {{temporada.anio}}
                </button>
              </h2>
              <div [id]="'accordion-body-' + i" class="accordion-collapse collapse" >
                <div class="accordion-body" >
                
                  <app-camiseta-info *ngFor="let camiseta of temporada.camiseta" [camiseta]="camiseta"></app-camiseta-info>

                </div>
              </div>
            </div>


          </div>
    </div>
</div>

